#latex
*.lof
*.aux
*.log
*.out
*.toc
*.backup
*.dvi
main.pdf
*.fdb_latexmk
*.fls
*.synctex.gz
*-eps-converted-to.pdf
*.bbl
*.blg
*.tdo
*.glo
*.glsdefs
*.ist
*.lot
*.pdf
*.auxlock
OD.tex

#sublime
*.sublime-project
*.sublime-workspace

#c++
bin/
build/

*.s#?
*.b#?

#Python
*.pyc

#ticks?
*.dpth
*.md5